<div class="container-fluid">

    <div class="alert alert-danger" ng-repeat="error in errors">{{error}}</div>

    <h1>{{hostName}}</h1>

    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-default" ng-repeat="dataset in datasets">
                <div class="panel-heading">
                    <h3 class="panel-title">{{dataset.name}}</h3>
                </div>
                <div class="panel-body">
                    <flot dataset="[{label: 'RPM', data: dataset.data, color: '#428bca'}]" options="chartOptions" height="200px" width="100%"></flot>
                </div>
            </div>
        </div>
    </div>

</div>
